*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3 span{
    font-size: 22px;
}
h3 input.search-input{
    width: 300px;
    margin-left: auto;
    float: right;
}
.mt32{
    margin-top: 32px;
}